In [46]:
import numpy as np
import matplotlib.pyplot as plt

import pandas as pd
from sqlalchemy import create_engine
import pymongo
from functools import reduce

# Load CSV files into dataframes

In [3]:
# Bring ACCIDENT CSV into a separate data frame
accident_df = pd.read_csv("resources/ACCIDENT.csv", low_memory=False)
accident_df.head()

,ACCIDENT_NO,ACCIDENTDATE,ACCIDENTTIME,ACCIDENT_TYPE,Accident Type Desc,DAY_OF_WEEK,Day Week Description,DCA_CODE,DCA Description,DIRECTORY,...,NO_PERSONS,NO_PERSONS_INJ_2,NO_PERSONS_INJ_3,NO_PERSONS_KILLED,NO_PERSONS_NOT_INJ,POLICE_ATTEND,ROAD_GEOMETRY,Road Geometry Desc,SEVERITY,SPEED_ZONE
0,T20060000010,13/01/2006,12:42:00,1,Collision with vehicle,6,Friday,113,RIGHT NEAR (INTERSECTIONS ONLY),MEL,...,6,0,1,0,5,1,1,Cross intersection,3,60
1,T20060000018,13/01/2006,19:10:00,1,Collision with vehicle,6,Friday,113,RIGHT NEAR (INTERSECTIONS ONLY),MEL,...,4,0,1,0,3,1,2,T intersection,3,70
2,T20060000022,14/01/2006,12:10:00,7,Fall from or in moving vehicle,7,Saturday,190,FELL IN/FROM VEHICLE,MEL,...,2,1,0,0,1,1,5,Not at intersection,2,100
3,T20060000023,14/01/2006,11:49:00,1,Collision with vehicle,7,Saturday,130,REAR END(VEHICLES IN SAME LANE),MEL,...,2,1,0,0,1,1,2,T intersection,2,80
4,T20060000026,14/01/2006,10:45:00,1,Collision with vehicle,7,Saturday,121,RIGHT THROUGH,MEL,...,3,0,3,0,0,1,5,Not at intersection,3,50

In [4]:
# # Bring ACCIDENT_EVENT CSV into a separate data frame
# accident_event_df = pd.read_csv("resources/ACCIDENT_EVENT.csv")
# accident_event_df.head()

# This data will be replaced due to duplicate events of the intended primary key

In [5]:
# Bring ACCIDENT_LOCATION CSV into a separate data frame
accident_location_df = pd.read_csv("resources/ACCIDENT_LOCATION.csv")
accident_location_df.head()

,ACCIDENT_NO,NODE_ID,ROAD_ROUTE_1,ROAD_NAME,ROAD_TYPE,ROAD_NAME_INT,ROAD_TYPE_INT,DISTANCE_LOCATION,DIRECTION_LOCATION,NEAREST_KM_POST,OFF_ROAD_LOCATION
0,T20060000010,43078,2090.0,FOSTER,STREET,MCCRAE,STREET,0.0,SW,NaN,NaN
1,T20060000018,29720,5057.0,HALLAM,ROAD,BELGRAVE-HALLAM,ROAD,70.0,S,NaN,NaN
2,T20060000022,203074,9999.0,BROWNS,ROAD,TRUEMANS,ROAD,210.0,W,NaN,NaN
3,T20060000023,55462,2400.0,SPRINGVALE,ROAD,KEYSBOROUGH,AVENUE,0.0,N,NaN,NaN
4,T20060000026,202988,9999.0,ELIZABETH,AVENUE,GREENHOOD,CRESCENT,20.0,N,NaN,NaN

In [6]:
# Bring atmospheric_cond CSV into a separate dataframe
atmospheric_cond_df = pd.read_csv("resources/atmospheric_cond.csv")
atmospheric_cond_df

         ACCIDENT_NO  ATMOSPH_COND  ATMOSPH_COND_SEQ Atmosph Cond Desc
0       T20060000010             1                 1             Clear
1       T20060000018             1                 1             Clear
2       T20060000022             1                 1             Clear
3       T20060000023             1                 1             Clear
4       T20060000026             1                 1             Clear
...              ...           ...               ...               ...
206953  T20200019239             1                 0             Clear
206954  T20200019247             1                 1             Clear
206955  T20200019250             1                 0             Clear
206956  T20200019253             1                 1             Clear
206957  T20200019417             1                 0             Clear

[206958 rows x 4 columns]

In [7]:
# Bring road_surface_cond CSV into a separate dataframe
road_surface_cond_df = pd.read_csv("resources/road_surface_cond.csv")
road_surface_cond_df

         ACCIDENT_NO  SURFACE_COND Surface Cond Desc  SURFACE_COND_SEQ
0       T20060000010             1               Dry                 1
1       T20060000018             1               Dry                 1
2       T20060000022             1               Dry                 1
3       T20060000023             1               Dry                 1
4       T20060000026             1               Dry                 1
...              ...           ...               ...               ...
205025  T20200019239             1               Dry                 0
205026  T20200019247             1               Dry                 1
205027  T20200019250             1               Dry                 0
205028  T20200019253             1               Dry                 1
205029  T20200019417             1               Dry                 0

[205030 rows x 4 columns]

# Filter and rename columns

In [8]:
# Filter columns and rename with the same format
accident_filtered_df = accident_df[["ACCIDENT_NO", "ACCIDENTDATE", "ACCIDENTTIME", "Accident Type Desc", "Day Week Description", "DCA_CODE", "DCA Description", "NODE_ID", "Road Geometry Desc", "SPEED_ZONE"]]

# renamed columns according to ERD
accident_filtered_df = accident_filtered_df.rename(columns={"ACCIDENT_NO": "accident_no",
                                                            "ACCIDENTDATE": "accident_date",
                                                            "ACCIDENTTIME": "accident_time",
                                                            "Accident Type Desc": "accident_type_desc",
                                                            "Day Week Description": "day_week_desc",
                                                            "DCA_CODE": "DCA_code",
                                                            "DCA Description": "DCA_desc",
                                                            "NODE_ID": "node_ID",
                                                            "Road Geometry Desc": "road_geometry_desc",
                                                            "SPEED_ZONE": "speed_zone"})

accident_filtered_df

,accident_no,accident_date,accident_time,accident_type_desc,day_week_desc,DCA_code,DCA_desc,node_ID,road_geometry_desc,speed_zone
0,T20060000010,13/01/2006,12:42:00,Collision with vehicle,Friday,113,RIGHT NEAR (INTERSECTIONS ONLY),43078,Cross intersection,60
1,T20060000018,13/01/2006,19:10:00,Collision with vehicle,Friday,113,RIGHT NEAR (INTERSECTIONS ONLY),29720,T intersection,70
2,T20060000022,14/01/2006,12:10:00,Fall from or in moving vehicle,Saturday,190,FELL IN/FROM VEHICLE,203074,Not at intersection,100
3,T20060000023,14/01/2006,11:49:00,Collision with vehicle,Saturday,130,REAR END(VEHICLES IN SAME LANE),55462,T intersection,80
4,T20060000026,14/01/2006,10:45:00,Collision with vehicle,Saturday,121,RIGHT THROUGH,202988,Not at intersection,50
...,...,...,...,...,...,...,...,...,...,...
203703,T20200019239,1/11/2020,12:11:00,Collision with vehicle,Sunday,142,LEAVING PARKING,665835,Not at intersection,50
203704,T20200019247,1/11/2020,15:30:00,Collision with a fixed object,Sunday,171,LEFT OFF CARRIAGEWAY INTO OBJECT/PARKED VEHICL...,665912,Not at intersection,999
203705,T20200019250,1/11/2020,18:00:00,Collision with vehicle,Sunday,116,LEFT NEAR (INTERSECTIONS ONLY),226603,Cross intersection,60
203706,T20200019253,1/11/2020,12:00:00,Vehicle overturned (no collision),Sunday,180,OFF CARRIAGEWAY ON RIGHT BEND,665836,Not at intersection,80
203707,T20200019417,4/11/2020,01:30:00,Collision with a fixed object,Wednesday,171,LEFT OFF CARRIAGEWAY INTO OBJECT/PARKED VEHICL...,666096,Not at intersection,80

In [10]:
# create csv for postgres
accident_filtered_df.to_csv("accident.csv", index=False)

In [8]:
# # Filter columns and rename with the same format
# accident_event_filtered_df = accident_event_df[["ACCIDENT_NO", "EVENT_TYPE", "Event Type Desc", "Vehicle 1 Coll Pt Desc", "Vehicle 2 Coll Pt Desc"]]

# # renamed columns according to ERD
# accident_event_filtered_df = accident_event_filtered_df.rename(columns={"ACCIDENT_NO": "accident_no",
#                                                                         "EVENT_TYPE": "event_type",
#                                                                         "Event Type Desc": "event_type_desc",
#                                                                         "Vehicle 1 Coll Pt Desc": "vehicle_1_coll_pt_desc",
#                                                                         "Vehicle 2 Coll Pt Desc": "vehicle_2_coll_pt_desc"
#                                                                        })

# accident_event_filtered_df

# note: accident_event data replaced

In [50]:
# # create csv for postgres
# accident_event_filtered_df.to_csv("accident_event.csv",index=False)

# note: accident_event data replaced

In [9]:
# Filter columns and rename with the same format
accident_location_filtered_df = accident_location_df[["ACCIDENT_NO", "ROAD_NAME", "ROAD_TYPE", "ROAD_NAME_INT", "ROAD_TYPE_INT"]]

# renamed columns according to ERD
accident_location_filtered_df = accident_location_filtered_df.rename(columns={"ACCIDENT_NO": "accident_no",
                                                                            "ROAD_NAME": "road_name",
                                                                            "ROAD_TYPE": "road_type",
                                                                            "ROAD_NAME_INT": "road_name_int",
                                                                            "ROAD_TYPE_INT": "road_type_int"})

accident_location_filtered_df

         accident_no        road_name road_type    road_name_int road_type_int
0       T20060000010           FOSTER    STREET           MCCRAE        STREET
1       T20060000018           HALLAM      ROAD  BELGRAVE-HALLAM          ROAD
2       T20060000022           BROWNS      ROAD         TRUEMANS          ROAD
3       T20060000023       SPRINGVALE      ROAD      KEYSBOROUGH        AVENUE
4       T20060000026        ELIZABETH    AVENUE        GREENHOOD      CRESCENT
...              ...              ...       ...              ...           ...
203703  T20200019239        ALEXANDRA    AVENUE         ANDERSON        STREET
203704  T20200019247         MATTHEWS      ROAD       FITZGERALD          ROAD
203705  T20200019250           PLENTY      ROAD             BUSH     BOULEVARD
203706  T20200019253             OMEO   HIGHWAY       CALLAGHANS          ROAD
203707  T20200019417  LOWER DANDENONG      ROAD          CASSAVA         COURT

[203708 rows x 5 columns]

In [15]:
# create csv for postgres
accident_location_filtered_df.to_csv("accident_location.csv",index=False)

In [10]:
# Filter columns and rename with the same format
atmospheric_cond_filtered_df = atmospheric_cond_df[["ACCIDENT_NO", "Atmosph Cond Desc"]]

# renamed columns according to ERD
atmospheric_cond_filtered_df = atmospheric_cond_filtered_df.rename(columns={"ACCIDENT_NO": "accident_no",
                                                                              "Atmosph Cond Desc":"atmosph_cond_desc"})

atmospheric_cond_filtered_df

         accident_no atmosph_cond_desc
0       T20060000010             Clear
1       T20060000018             Clear
2       T20060000022             Clear
3       T20060000023             Clear
4       T20060000026             Clear
...              ...               ...
206953  T20200019239             Clear
206954  T20200019247             Clear
206955  T20200019250             Clear
206956  T20200019253             Clear
206957  T20200019417             Clear

[206958 rows x 2 columns]

In [11]:
# create csv for postgres
atmospheric_cond_filtered_df.to_csv("atmospheric_cond.csv",index=False)

In [12]:
# Filter columns and rename with the same format
road_surface_cond_filtered_df = road_surface_cond_df[["ACCIDENT_NO", "Surface Cond Desc"]]

# renamed columns according to ERD
road_surface_cond_filtered_df = road_surface_cond_filtered_df.rename(columns={"ACCIDENT_NO": "accident_no",
                                                                              "Surface Cond Desc":"surface_cond_desc"})

road_surface_cond_filtered_df

         accident_no surface_cond_desc
0       T20060000010               Dry
1       T20060000018               Dry
2       T20060000022               Dry
3       T20060000023               Dry
4       T20060000026               Dry
...              ...               ...
205025  T20200019239               Dry
205026  T20200019247               Dry
205027  T20200019250               Dry
205028  T20200019253               Dry
205029  T20200019417               Dry

[205030 rows x 2 columns]

In [13]:
# create csv for postgres
road_surface_cond_filtered_df.to_csv("road_surface_cond.csv",index=False)

# Combine dataframes

In [47]:
# Combine ACCIDENT and ACCIDENT EVENT data frames
data_frames = [accident_filtered_df, accident_location_filtered_df,atmospheric_cond_filtered_df,road_surface_cond_filtered_df]

df_merged = reduce(lambda left,right: pd.merge(left,right,on=['accident_no'],
                                            how='outer'), data_frames)

df_merged

# combined_accident_event_df = pd.merge(accident_filtered_df, accident_location_filtered_df,atmospheric_cond_filtered_df,road_surface_cond_filtered_df how='outer', on='accident_no')
# combined_accident_event_df

# to update Kaayin

,accident_no,accident_date,accident_time,accident_type_desc,day_week_desc,DCA_code,DCA_desc,node_ID,road_geometry_desc,speed_zone,road_name,road_type,road_name_int,road_type_int,atmosph_cond_desc,surface_cond_desc
0,T20060000010,13/01/2006,12:42:00,Collision with vehicle,Friday,113,RIGHT NEAR (INTERSECTIONS ONLY),43078,Cross intersection,60,FOSTER,STREET,MCCRAE,STREET,Clear,Dry
1,T20060000018,13/01/2006,19:10:00,Collision with vehicle,Friday,113,RIGHT NEAR (INTERSECTIONS ONLY),29720,T intersection,70,HALLAM,ROAD,BELGRAVE-HALLAM,ROAD,Clear,Dry
2,T20060000022,14/01/2006,12:10:00,Fall from or in moving vehicle,Saturday,190,FELL IN/FROM VEHICLE,203074,Not at intersection,100,BROWNS,ROAD,TRUEMANS,ROAD,Clear,Dry
3,T20060000023,14/01/2006,11:49:00,Collision with vehicle,Saturday,130,REAR END(VEHICLES IN SAME LANE),55462,T intersection,80,SPRINGVALE,ROAD,KEYSBOROUGH,AVENUE,Clear,Dry
4,T20060000026,14/01/2006,10:45:00,Collision with vehicle,Saturday,121,RIGHT THROUGH,202988,Not at intersection,50,ELIZABETH,AVENUE,GREENHOOD,CRESCENT,Clear,Dry
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208471,T20200019239,1/11/2020,12:11:00,Collision with vehicle,Sunday,142,LEAVING PARKING,665835,Not at intersection,50,ALEXANDRA,AVENUE,ANDERSON,STREET,Clear,Dry
208472,T20200019247,1/11/2020,15:30:00,Collision with a fixed object,Sunday,171,LEFT OFF CARRIAGEWAY INTO OBJECT/PARKED VEHICL...,665912,Not at intersection,999,MATTHEWS,ROAD,FITZGERALD,ROAD,Clear,Dry
208473,T20200019250,1/11/2020,18:00:00,Collision with vehicle,Sunday,116,LEFT NEAR (INTERSECTIONS ONLY),226603,Cross intersection,60,PLENTY,ROAD,BUSH,BOULEVARD,Clear,Dry
208474,T20200019253,1/11/2020,12:00:00,Vehicle overturned (no collision),Sunday,180,OFF CARRIAGEWAY ON RIGHT BEND,665836,Not at intersection,80,OMEO,HIGHWAY,CALLAGHANS,ROAD,Clear,Dry
208475,T20200019417,4/11/2020,01:30:00,Collision with a fixed object,Wednesday,171,LEFT OFF CARRIAGEWAY INTO OBJECT/PARKED VEHICL...,666096,Not at intersection,80,LOWER DANDENONG,ROAD,CASSAVA,COURT,Clear,Dry

In [48]:
# # Combine ACCIDENT and ACCIDENT EVENT combined data frames with ACCIDENT LOCATION data frame
# combined_accident_df = pd.merge(combined_accident_event_df, accident_location_filtered_df, how='outer', on='Accident No')
# combined_accident_df.head()

# merge completed above

# Convert merged dataframe into CSV file output

In [49]:
# Convert combined accident, event, location dataframe to csv file

df_merged.to_csv("Victorian_Accident_Data_2006-2020.csv")

# Load to SQL

In [20]:
# Postgres connection setup
# Creating database connection

connection_string = "postgres:!D2gf3hi4lk@localhost:5432/ETLProject_db"
engine = create_engine(f'postgresql://{connection_string}')

In [16]:
# # Load DataFrame into database
# accident_filtered_df.to_sql(name='premise', con=engine, if_exists='append', index=True)

In [ ]:
#Mongo setup
# The default port used by MongoDB is 27017
#conn = 'mongodb://localhost:27017'
#client = pymongo.MongoClient(conn)

# Define the database in Mongo
#db = client.accident_transformed

In [31]:
# Confirm database has been connected

# Accident table
accident_table = pd.read_sql_query('select * from accident', con=engine)
# accident_table

In [37]:
# final cleaning - rename columns
renamed_accident = accident_table.rename(columns={"accident_no": "Accident no.",
                                                  "accident_date": "Accident Date",
                                                  "accident_time": "Accident Time",
                                                  "accident_type_desc": "Accident Type",
                                                  "day_week_desc": "Day of the Week",
                                                  "dca_code": "Accident Classification Code",
                                                  "dca_desc": "Accident Classification Description",
                                                  "node_id": "Node Identifier",
                                                  "road_geometry_desc": "Road Geometry",
                                                  "speed_zone": "Speed Zone"})

renamed_accident

# Note: Where speed zones have not been noted, '999' is returned
# Note: Node Identifier refers to a specific number per accident location

,Accident no.,Accident Date,Accident Time,Accident Type,Day of the Week,Accident Classification Code,Accident Classification Description,Node Identifier,Road Geometry,Speed Zone
0,T20060000010,13/01/2006,12:42:00,Collision with vehicle,Friday,113,RIGHT NEAR (INTERSECTIONS ONLY),43078,Cross intersection,60
1,T20060000018,13/01/2006,19:10:00,Collision with vehicle,Friday,113,RIGHT NEAR (INTERSECTIONS ONLY),29720,T intersection,70
2,T20060000022,14/01/2006,12:10:00,Fall from or in moving vehicle,Saturday,190,FELL IN/FROM VEHICLE,203074,Not at intersection,100
3,T20060000023,14/01/2006,11:49:00,Collision with vehicle,Saturday,130,REAR END(VEHICLES IN SAME LANE),55462,T intersection,80
4,T20060000026,14/01/2006,10:45:00,Collision with vehicle,Saturday,121,RIGHT THROUGH,202988,Not at intersection,50
...,...,...,...,...,...,...,...,...,...,...
203703,T20200019239,1/11/2020,12:11:00,Collision with vehicle,Sunday,142,LEAVING PARKING,665835,Not at intersection,50
203704,T20200019247,1/11/2020,15:30:00,Collision with a fixed object,Sunday,171,LEFT OFF CARRIAGEWAY INTO OBJECT/PARKED VEHICL...,665912,Not at intersection,999
203705,T20200019250,1/11/2020,18:00:00,Collision with vehicle,Sunday,116,LEFT NEAR (INTERSECTIONS ONLY),226603,Cross intersection,60
203706,T20200019253,1/11/2020,12:00:00,Vehicle overturned (no collision),Sunday,180,OFF CARRIAGEWAY ON RIGHT BEND,665836,Not at intersection,80
203707,T20200019417,4/11/2020,01:30:00,Collision with a fixed object,Wednesday,171,LEFT OFF CARRIAGEWAY INTO OBJECT/PARKED VEHICL...,666096,Not at intersection,80

In [25]:
# Accident location table
accident_location_table = pd.read_sql_query('select * from accident_location', con=engine)
accident_location_table

         accident_no        road_name road_type    road_name_int road_type_int
0       T20060000010           FOSTER    STREET           MCCRAE        STREET
1       T20060000018           HALLAM      ROAD  BELGRAVE-HALLAM          ROAD
2       T20060000022           BROWNS      ROAD         TRUEMANS          ROAD
3       T20060000023       SPRINGVALE      ROAD      KEYSBOROUGH        AVENUE
4       T20060000026        ELIZABETH    AVENUE        GREENHOOD      CRESCENT
...              ...              ...       ...              ...           ...
203703  T20200019239        ALEXANDRA    AVENUE         ANDERSON        STREET
203704  T20200019247         MATTHEWS      ROAD       FITZGERALD          ROAD
203705  T20200019250           PLENTY      ROAD             BUSH     BOULEVARD
203706  T20200019253             OMEO   HIGHWAY       CALLAGHANS          ROAD
203707  T20200019417  LOWER DANDENONG      ROAD          CASSAVA         COURT

[203708 rows x 5 columns]

In [38]:
# final cleaning - rename columns
renamed_accident_location = accident_location_table.rename(columns={"accident_no":"Accident no.",
                                                                    "road_name": "Road Name",
                                                                    "road_type": "Road Type",
                                                                    "road_name_int":"Intersecting Road Name",
                                                                    "road_type_int":"Intersecting Road Type"})

renamed_accident_location

,Accident no.,Road Name,Road Type,Intersecting Road Name,Intersecting Road Type
0,T20060000010,FOSTER,STREET,MCCRAE,STREET
1,T20060000018,HALLAM,ROAD,BELGRAVE-HALLAM,ROAD
2,T20060000022,BROWNS,ROAD,TRUEMANS,ROAD
3,T20060000023,SPRINGVALE,ROAD,KEYSBOROUGH,AVENUE
4,T20060000026,ELIZABETH,AVENUE,GREENHOOD,CRESCENT
...,...,...,...,...,...
203703,T20200019239,ALEXANDRA,AVENUE,ANDERSON,STREET
203704,T20200019247,MATTHEWS,ROAD,FITZGERALD,ROAD
203705,T20200019250,PLENTY,ROAD,BUSH,BOULEVARD
203706,T20200019253,OMEO,HIGHWAY,CALLAGHANS,ROAD
203707,T20200019417,LOWER DANDENONG,ROAD,CASSAVA,COURT

In [26]:
# Road surface condition table
road_surface_cond_table = pd.read_sql_query('select * from road_surface_cond', con=engine)
road_surface_cond_table

         accident_no surface_cond_desc
0       T20060000010               Dry
1       T20060000018               Dry
2       T20060000022               Dry
3       T20060000023               Dry
4       T20060000026               Dry
...              ...               ...
205025  T20200019239               Dry
205026  T20200019247               Dry
205027  T20200019250               Dry
205028  T20200019253               Dry
205029  T20200019417               Dry

[205030 rows x 2 columns]

In [39]:
# final cleaning - rename columns
renamed_road_surface_cond = road_surface_cond_table.rename(columns={"accident_no":"Accident no.",
                                                                    "surface_cond_desc": "Surface Condition Description"})

renamed_road_surface_cond

        Accident no. Surface Condition Description
0       T20060000010                           Dry
1       T20060000018                           Dry
2       T20060000022                           Dry
3       T20060000023                           Dry
4       T20060000026                           Dry
...              ...                           ...
205025  T20200019239                           Dry
205026  T20200019247                           Dry
205027  T20200019250                           Dry
205028  T20200019253                           Dry
205029  T20200019417                           Dry

[205030 rows x 2 columns]

In [27]:
# Atmospheric condition table
atmospheric_cond_table = pd.read_sql_query('select * from atmospheric_cond', con=engine)
atmospheric_cond_table

         accident_no atmosph_cond_desc
0       T20060000010             Clear
1       T20060000018             Clear
2       T20060000022             Clear
3       T20060000023             Clear
4       T20060000026             Clear
...              ...               ...
206953  T20200019239             Clear
206954  T20200019247             Clear
206955  T20200019250             Clear
206956  T20200019253             Clear
206957  T20200019417             Clear

[206958 rows x 2 columns]

In [40]:
# final cleaning - rename columns
renamed_atmospheric_cond = atmospheric_cond_table.rename(columns={"accident_no":"Accident no.",
                                                                  "atmosph_cond_desc": "Atmospheric Condition Description"})

renamed_atmospheric_cond

        Accident no. Atmospheric Condition Description
0       T20060000010                             Clear
1       T20060000018                             Clear
2       T20060000022                             Clear
3       T20060000023                             Clear
4       T20060000026                             Clear
...              ...                               ...
206953  T20200019239                             Clear
206954  T20200019247                             Clear
206955  T20200019250                             Clear
206956  T20200019253                             Clear
206957  T20200019417                             Clear

[206958 rows x 2 columns]